<div class="row">
  <div class="col" style="color:white;">
    <p class="narrative">kanye is feeling self consious</p>
    <img style="max-width:100%" src="img/kanyeConfused.png" alt="">
  </div>
  <div class="col" style="color:white;">
    <div class="quote">
      Lorem Khaled Ipsum is a major key to success. Always remember in the jungle there’s a lot of they in there,
    </div>
    <div class="output-panel failure">
      Kanye guessed:
      <br>
      <span class="answer">i don't know its like 40 or something</span>
    </div>
    <div class="output-panel success">
      answer:
      <br>
      <span class="answer">5</span>
    </div>
  </div>
</div>
