<div class="row output-slide">
  <div class="col">
    <p class="narrative" ng-hide="cardCalc.res.bool">kanye is feeling self consious</p>
    <img style="max-width:100%" ng-src="{{cardCalc.imgPath}}" alt="">
  </div>
  <div class="col">
    <div class="quote">
      {{cardCalc.quote}}
    </div>
    <div class="output-panel failure" ng-hide="cardCalc.res.bool">
      Kanye guessed:
      <br>
      <span class="answer">i don't know its like {{cardCalc.theGuess}} or something</span>
    </div>
    <div class="output-panel success" ng-show="cardCalc.res.bool">
      answer:
      <br>
      <span class="answer">{{cardCalc.answer}}</span>
    </div>
  </div>
</div>
